#!/usr/bin/python
# -*- coding: utf-8 -*-
import days

# Каталог в котором хранится лог входов выходов, каждый месяц в отдельном файле
JOBSTAT_DIRECTORY = '~/.jobstat'

# Отпуск, смотри файл days.py для примера
HOLIDAYS = [
]

# Сколько минут в день надо работать
NEED_MINUTES_PER_DAY = 8 * 60 + 30

# Номер брелка
CARDNUM = 2116234
