#!/usr/bin/python
# -*- coding: utf-8 -*-

# Каталог в котором хранится лог входов выходов, каждый месяц в отдельном файле
JOBSTAT_DIRECTORY = '~/.jobstat'

# Выходные, которые официально стали рабочими
ADD_WORK_DAYS = [
	'2016-02-20'
]

# Будни, которые официально стали нерабочими
SUB_WORK_DAYS = [
	'2016-01-01',
	'2016-01-04',
	'2016-01-05',
	'2016-01-06',
	'2016-01-07',
	'2016-01-08',
	'2016-02-22',
	'2016-02-23',
	'2016-03-07',
	'2016-03-08',
	'2016-05-02',
	'2016-05-03',
	'2016-05-09',
	'2016-06-13',
	'2016-11-04',
]

# Сколько минут в день надо работать
NEED_MINUTES_PER_DAY = 8 * 60 + 30

# Номер брелка
CARDNUM = 2116234
